<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <!-- create an initializer extension to initialize toolbox commons preferences -->
   <extension point="org.eclipse.equinox.preferences.preferences">
	   <initializer class="com.benjholla.atlas.brainfuck.preferences.BrainfuckPreferences" />
   </extension>
	
   <!-- create a preferences menu item -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.benjholla.atlas.brainfuck.ui.BrainfuckPreferencesPage"
            id="com.benjholla.atlas.brainfuck.ui.preferences"
            name="Brainfuck Indexer"
            category="com.benjholla.atlas.brainfuck.ui">
      </page>
   </extension>
  
   <!-- create an Atlas indexer for Brainfuck -->
   <extension
        id="BrainfuckLanguageIndexingProviderFactory"
        name="BrainfuckLanguageIndexingProviderFactory"
        point="com.ensoftcorp.atlas.core.LanguageIndexingProviderFactories">
     <ProviderFactory
           class="com.benjholla.atlas.brainfuck.indexer.BrainfuckIndexer">
     </ProviderFactory>
   </extension>
  
</plugin>