<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
        id="BrainfuckLanguageIndexingProviderFactory"
        name="BrainfuckLanguageIndexingProviderFactory"
        point="com.ensoftcorp.atlas.core.LanguageIndexingProviderFactories">
     <ProviderFactory
           class="com.benjholla.atlas.brainfuck.indexer.BrainfuckIndexer">
     </ProviderFactory>
  </extension>
  
</plugin>